<footer class="footer">
    <div class="footer-section">
      <h2>PLASHOE</h2>
      <p>
        Praesent eget tortor sit risus egestas nulla pharetra ornare quis bibendum est bibendum sapien proin nascetur
      </p>
      <div class="social-icons">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-pinterest"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
    <div class="footer-section">
      <h3>Shop</h3>
      <ul>
        <li>Shop Men</li>
        <li>Shop Women</li>
        <li>Lookbook</li>
        <li>Gift Card</li>
        <li>Sale</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>About</h3>
      <ul>
        <li>Our Story</li>
        <li>Our Materials</li>
        <li>Our Value</li>
        <li>Sustainability</li>
        <li>Manufacture</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Need Help?</h3>
      <ul>
        <li>FAQs</li>
        <li>Shipping & Returns</li>
        <li>Shoe Care</li>
        <li>Size Chart</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </footer>